form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
}

input {
  width: 30ch;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 0 0;
}
