<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The v-else-if and v-else directives</title>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="app">
      <h1>Guitars</h1>
      <div class="guitars">
        <div v-for="guitar in guitars" :key="guitar.id">
          <h2>{{ guitar.name }}</h2>
          <span v-if="guitar.stock === 0" style="color: red">Out of stock</span>
          <span v-else-if="guitar.stock < 3" style="color: orange">
            Last chance, only {{ guitar.stock }} left in stock
          </span>
          <span v-else style="color: green">In stock</span>
        </div>
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
